include ./toolbar

video.video-js.vjs-default-skin(controls,preload="auto",width="100%",height="450",poster="#{video.poster}",id="video_#{video.id}")
	-each source in video.sources
		source(src="#{source.url}",type='video/#{source.type}')
	p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>

h2(style="text-align:center")=video.title
